{% load static %}
<html lang="en">
<!-- divinectorweb.com -->
<head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO 3 JOSUE CHAVEZ</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>    
<div class="container" >
    <div class="header">
        <!-- <h1>Josue Chavez</h1> -->
        <p class="titulo">
            Josue Daniel Chavez Portillo
            <span>
            Proyecto 3
            </span>
            &mdash; 202100033 &mdash;
        </p>
</div>

    <div class="main">
        <div class="left">
            <h2>Resetear</h2>
                <div style="text-align: center;">
                    <button class="my-button" onclick="mostrarMessageBox()">Resetear Datos</button>
                </div>
            
                <script>
                    function mostrarMessageBox() {
                        window.alert("Se reseteo con éxito");
                    }

                </script>
            
            <h2>Cargar archivo de mensajes</h2>

            <div style="text-align: center;">
                <div>
                    <!-- <h2>Subir archivo de Diccionario</h2> -->
                    <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ formu.as_p }}
                    <br><button class="my-button" type="submit" class="save btn btn-default">Enviar</button>
                    </form>

                </div>
            </div><br><br>

            <h2>Cargar archivo de configuración</h2>
            <div style="text-align: center;">
                <div>
                    <!-- <h2>Subir archivo de Diccionario</h2> -->
                    <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ formu.as_p }}
                    <br><button class="my-button" type="submit" class="save btn btn-default">Enviar</button>
                    </form>

                </div>
            </div><br><br>
        </div>

        <div class="right">
            <h2>Peticiones</h2>

            <h3>Consultar Hashtag </h3>
            <label for="fecha_inicio">Desde:</label>
            <input type="date" id="fecha_inicio" name="fecha_inicio">
            <br><br><label for="fecha_fin">Hasta:</label>
            <input type="date" id="fecha_fin" name="fecha_fin">
            <br><br>
            <style>
                #Hashtagg {
                  width: 300px; /* Ancho personalizado en píxeles */
                  height: 100px; /* Alto personalizado en píxeles */
                }
            </style>

            <label for="Hashtagg">Hashtag cargados:</label> <br>
            <input type="text" id="Hashtagg" name="Hashtagg" placeholder="Aquí se mostrarán los Hashtag del rango de fechas">


            <h2>Consultar Menciones</h2>
            <label for="fecha_inicio">Desde:</label>
            <input type="date" id="fecha_inicio" name="fecha_inicio">
            <br><br><label for="fecha_fin">Hasta:</label>
            <input type="date" id="fecha_fin" name="fecha_fin">

            <br><br>
            <style>
                #Hashtagg {
                  width: 300px; /* Ancho personalizado en píxeles */
                  height: 100px; /* Alto personalizado en píxeles */
                }
            </style>

            <label for="Hashtagg">Menciones cargadas:</label> <br>
            <input type="text" id="Hashtagg" name="Hashtagg" placeholder="Aquí se mostrarán los Hashtag del rango de fechas">


            <h2>Consultar Sentimientos en Mensajes</h2>
            <label for="fecha_inicio">Desde:</label>
            <input type="date" id="fecha_inicio" name="fecha_inicio">
            <br><br><label for="fecha_fin">Hasta:</label>
            <input type="date" id="fecha_fin" name="fecha_fin">

            <br><br>
            <style>
                #Hashtagg {
                  width: 300px; /* Ancho personalizado en píxeles */
                  height: 100px; /* Alto personalizado en píxeles */
                }
            </style>

            <label for="Hashtagg">Sentimientos cargados:</label> <br>
            <input type="text" id="Hashtagg" name="Hashtagg" placeholder="Aquí se mostrarán los Hashtag del rango de fechas">

            
        </div>

    </div>

</div> 

</body>
</html>