{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resultados de la Consulta</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Resultados de la Consulta</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Volver a Inicio</a></li>
        </ul>
    </nav>
    <main>
        <h2>Resultados:</h2>
        <ul>
            {% for item in data %}
                <li>{{ item.fecha }} - Mensajes Recibidos: {{ item.msj_recibidos }}, Usuarios Mencionados: {{ item.usr_mencionados }}, Hashtags Incluidos: {{ item.hash_incluidos }}</li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
